
  <header >
      <nav  class="navbar navbar-expand-lg fixed-top navbar-dark mdb-color ">
  <a class="navbar-brand" href="#">Navbar</a>
          {% if request.user.is_authenticated %}
          <p>{{ request.user.writer }}</p>
          {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div style="justify-content: flex-end" class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
          {% if not request.user.is_authenticated %}
        <a class="nav-link " href="{% url 'account_login' %}" tabindex="-1" aria-disabled="true">Login</a>
      </li>
              <li class="nav-item">
                      <a class="nav-link " href="{% url 'account_signup' %}" tabindex="-1" aria-disabled="true">Sign Up</a>

              </li>
              {% elif request.user.is_authenticated %}
                      <li class="nav-item">
        <a class="nav-link btn-md btn-danger" id="logout">Log out</a>
      </li>
        {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="#">المدونات</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">إنشاء مدونة جديدة</a>
      </li>
      <li class="nav-item">

      </li>
      <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">الصفحة الرئيسية <span class="sr-only">(current)</span></a>

      </li>
    </ul>
  </div>
</nav>

    <!-- Navbar -->
{#    <nav  class="navbar fixed-top navbar-expand-lg navbar-dark mdb-color scrolling-navbar">#}
{#      <div class="container">#}
{##}
{#        <!-- Brand -->#}
{#        <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">#}
{#          <strong class="blue-text">MDB</strong>#}
{#        </a>#}
{##}
{#        <!-- Collapse -->#}
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#          <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{##}
{#        <!-- Links -->#}
{#        <div  class="collapse navbar-collapse" id="navbarSupportedContent">#}
{##}
{#          <!-- Left -->#}
{#          <ul class="navbar-nav mr-auto">#}
{#            <li class="nav-item active">#}
{#              <a class="nav-link waves-effect" href="{% url 'home' %}">Home#}
{#                <span class="sr-only">(current)</span>#}
{#              </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">About MDB</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"#}
{#                target="_blank">Free download</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Free#}
{#                tutorials</a>#}
{#            </li>#}
{#          </ul>#}
{##}
{#          <!-- Right -->#}
{#          <ul  class="navbar-nav nav-flex-icons">#}
{#            <li class="nav-item">#}
{#              <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">#}
{#                <i class="fab fa-facebook-f"></i>#}
{#              </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">#}
{#                <i class="fab fa-twitter"></i>#}
{#              </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"#}
{#                target="_blank">#}
{#                <i class="fab fa-github mr-2"></i>MDB GitHub#}
{#              </a>#}
{#            </li>#}
{#          </ul>#}
{##}
{#        </div>#}
{##}
{#      </div>#}
    </nav>
    <!-- Navbar -->

  </header>
  <!--Main Navigation-->